In [1]:
import pandas as pd

In [2]:
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
ps = PorterStemmer()

In [3]:
df = pd.read_table("/home/faraz/Downloads/hasoc_2019.tsv")

In [4]:
df

,text_id,text,task_1,task_2,task_3
0,hasoc_en_902,West Bengal Doctor Crisis: Protesting doctors ...,NOT,NONE,NONE
1,hasoc_en_416,68.5 million people have been forced to leave ...,NOT,NONE,NONE
2,hasoc_en_207,"You came, you saw .... we will look after the ...",NOT,NONE,NONE
3,hasoc_en_595,We'll get Brexit delivered by October 31st. ...,NOT,NONE,NONE
4,hasoc_en_568,Fuck you. Go back to the dark ages you cow @IB...,HOF,PRFN,UNT
...,...,...,...,...,...
1148,hasoc_en1_3958,Each of the divorce must be pronounced with a ...,NOT,NONE,NONE
1149,hasoc_en1_4648,He is 62-yr-old Harswaroop Chauhan. His only s...,NOT,NONE,NONE
1150,hasoc_en1_4832,"Peace of graveyard or peace of mind, @asadowai...",NOT,NONE,NONE
1151,hasoc_en1_3721,The humble #tribute on the sacrifice day of #J...,NOT,NONE,NONE
1152,hasoc_en1_991,"Happy Birthday to Sh @nitin_gadkari Ji, God bl...",NOT,NONE,NONE

In [17]:
selected = df[['text' ]]

In [18]:
selected

                                                   text
0     West Bengal Doctor Crisis: Protesting doctors ...
1     68.5 million people have been forced to leave ...
2     You came, you saw .... we will look after the ...
3     We'll get Brexit delivered by October 31st.   ...
4     Fuck you. Go back to the dark ages you cow @IB...
...                                                 ...
1148  Each of the divorce must be pronounced with a ...
1149  He is 62-yr-old Harswaroop Chauhan. His only s...
1150  Peace of graveyard or peace of mind, @asadowai...
1151  The humble #tribute on the sacrifice day of #J...
1152  Happy Birthday to Sh @nitin_gadkari Ji, God bl...

[1153 rows x 1 columns]

In [19]:
from w in selected:
    print(ps.stem(w))

SyntaxError: invalid syntax (<ipython-input-19-f40f414f21ae>, line 1)